<%= render partial: 'shared/explanation_header', locals: {network:'twitter'} %>

<div class="band band-gray">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="table-container avatar-update-example">
        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 col-sm-offset-2 table-col">
            <%= image_tag @current_avatar, class:'avatar center-block img-responsive' %>
          </div>
          <div class="col-xs-2 table-col vmiddle text-center">
            <i class="fa fa-arrow-right"></i>
          </div>
          <div class="col-xs-5 col-sm-3 col-sm-offset-2 table-col">
            <%= image_tag 'bernietar.png', class:'avatar center-block img-responsive' %>
          </div>
        </div>
      </div>

      <p class="explanation">We'll update your current avatar to the Bernietar so you can show your support every time you tweet. It just takes a single click and you'll be off and running. Pretty simple, huh?</p>

      <div class="text-center">
        <%= link_to 'Okay, do it!', update_twitter_path, method: :post, class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  </div>
</div>
