<div class="band band-primary">
  <div class="hero">
    <h1 class="text-center">About</h1>
    <h3 class="text-center text-sans">This is a simple site that provides an easy
    way to change your social media profile photos to the Bernietar.</h3>
    <%= image_tag 'bernitar-logo.png', alt:'Bernietar', class:'bernietar' %>
  </div>
</div>

<div class="band band-gray">

<h2>FAQs</h2>
<div class="faqs">
  <h4>What is a Bernietar?</h4>
  <p>Well, social media profile photos are often referred to as avatars so it only
    made sense that Bernie's would be the Bernietar. Also, it's an easier URL to
    type than www.SupportBernieViaYourSocialMediaProfilePhotos.com.</p>

  <h4>Are you associated with the campaign?</h4>
  <p>Nope. I'm just a web developer who likes what Bernie is doing. I figured
    this would have a greater impact that donating $10/month. Just please don't
    slam my servers... otherwise I will be paying much more than $10/month.</p>

  <h4>Will you support other social networks?</h4>
  <p>Yes, I have plans to add support for other networks. I wanted to focus on
  Facebook and Twitter first because they will likely have the largest impact.
  You can always download the Bernietar and use it on whatever social network you'd
  like.</p>

  <h4>Who do you think Bernie should choose as VP?</h4>
  <p>Jon Stewart from The Daily Show. I hear he's going to have some free time
  on his hands pretty soon.</p>

  <h4>Do you think the new Star Wars movies will be any good?</h4>
  <p>I'm cautiously optimitic.</p>

  <h4>What are your thoughts on Donald Trump?</h4>
  <p>I think the Trump is an amazingingly well-crafted distraction that will
  serve to benefit the GOP. Every minute of news coverage wasted on Trump means
  less time the country has to learn about the serious Republican candidates. He
  is a shroud of verbal-diarrhea meant to distract us from what we should actually
  be talking about.</p>

  <h4>What doesn't your site work perfectly?</h4>
  <p>Because I coded this while looking after our newborn. Getting to work 10
  minutes in a row was a miracle. I tried to get her to pair program with me, but
  she kept saying she was more familiar with PHP. I told her, "I'm sorry."</p>
</div>


</div>
