<div class="band band-primary">
  <div class="hero">
	<h1 class="text-center">Bernietar</h1>
	<h3 class="text-center text-sans">Show support for Bernie Sanders 2016 by changing your social media profile photos.</h3>
  	<%= image_tag 'bernitar-logo.png', alt:'Bernietar', class:'bernietar' %>
  </div>
</div>

<div class="band band-gray">
  <div class="container home-explanation">
  	<div class="row">
  	  <div class="col-sm-4">
  		    <%= render partial: 'social_start', locals: {network:'Facebook'} %>
  	  </div>
  	  <div class="col-sm-4">
  		    <%= render partial: 'social_start', locals: {network:'Twitter'} %>
  	  </div>
  	  <div class="col-sm-4">
        <div class="social-bucket">
          <div class="media media-social">
          	<div class="media-left">
          	  <a href="#">
      		        <i class="fa fa-download"></i>
          	  </a>
          	</div>
          	<div class="media-body">
          	  <h3 class="text-primary media-heading">
          		    <span class="light">Update</span> Anything
          	  </h3>
          	</div>
          </div>
          <p>You can make an impact anywhere you hangout online. Download your Bernietar and use it
          as your profile picture on the social network of your choosing.</p>
          <div class="text-center">
            <%= link_to 'Download', download_bernietar_path, class:'btn btn-margin btn-danger btn-wide' %>
          </div>
        </div>
  	  </div>
  	</div>
  </div>
</div>
