<div class="band band-primary">
  <h1 class="text-center">Privacy Policy</h1>
  <h3 class="text-center text-sans subhead">Your privacy is important. We're collecting only what we need to get the job done.</h3>
</div>

<div class="band band-gray">
  <h3><span>Keeping it Simple</span>What's being saved when you visit</h2>
  <p>This site collects as little data as possible and only uses it to help
  you update your profile images on the various social networks. We always ask
  permission and follow the guidelines outlined by each provider.</p>
  <p>Your data will not be used for any marketing purposes and chances are
  you'll never hear from us in any way, shape, or form. This is just a small little
  project hoping to have an impact on the 2016 presidential race with no intentions
  beyond that.</p>

  <h3><span>Email Addresses</span>Why do you need them?</h3>
  <p>This site doesn't intend on making use of your email addresses. The entire
  point of creating a little service like this is to create a unified front and
  increase brand awareness. The more people that see the Bernie 2016 logo the
  better. However, if in the 11<sup>th</sup> hour the campaign dictated the need
  for a change in branding we wanted to be prepared for it. We wanted to reserve
  the ability to notify all those who had previously used the site to come back
  and update to a new Bernietar.</p>
  <p>That would be the only instance in which you would have your email being
  made use of.</p>
</div>
