<div class="social-bucket">
  <div class="media media-social">
	<div class="media-left">
	  <a href="#">
		<%= image_tag "icon-#{network.downcase}.png", alt: network.capitalize, class:'social-icon' %>
	  </a>
	</div>
	<div class="media-body">
	  <h3 class="text-primary media-heading">
		<span class="light">Update</span> <%= network %>
	  </h3>
	</div>
  </div>

  <p><%= social_bucket_copy(network.downcase) %></p>

  <%= start_or_update(network.downcase) %>
</div>
