<div class="band band-primary">
  <div class="page-header">
	<h1 class="text-center">Awesome</h1>
	<h3 class="text-center"><%= current_user.name %>, here's what's going to happen to your <em><%= @network %></em> profile</h3>
  </div>
</div>

<div class="band band-gray">
  <p>[Insert graphic]</p>

  <div class="text-center">
	<%= link_to 'Okay, do it!', update_twitter_path(current_user), class: 'btn btn-lg btn-success' %>
  </div>
</div>






