<div class="band band-primary">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1 class="text-center">Login Options</h1>
      <h3 class="text-center text-sans subhead">You can login with the following social networks.</h3>
    </div>
  </div>
</div>

<div class="band band-gray">
  <div class="login-options">
    <div class="login-option">
      <%= link_to image_tag('icon-facebook.png'), user_omniauth_authorize_path(:facebook) %>
      <%= link_to 'Start', user_omniauth_authorize_path(:facebook), class:'btn btn-danger' %>
    </div>
    <div class="login-option">
      <%= link_to image_tag('icon-twitter.png'), user_omniauth_authorize_path(:twitter) %>
      <%= link_to 'Start', user_omniauth_authorize_path(:twitter), class:'btn btn-danger' %>
    </div>
  </div>
</div>
