body, html {
  overflow-x: hidden;
}

.hero {
  height:283px;
  position: relative;

  @include sm-screen { height:313px; }

  h1 {
    font-weight:700;
    font-size:55px;

    @include sm-screen {
      font-size:70px;
    }
  }

  h3 {
    font-size:16px;
    font-weight: 300;
    color:$gray-lighter;

    @include sm-screen {
      font-size:18px;
    }
  }

  .bernietar {
    width:300px;
    position: absolute;
    bottom:-36px;
    left:0;
    right:0;
    margin:0 auto;

    @include sm-screen {
      width:350px;
      bottom:-40px;
    }
  }
}

// A full-width band for placing content in. Colors can be chosen with
// .band-color
.band {
  position: relative;
  padding:20px 0;
  width:100%;

  &:before {
    content:'';
    width:9000px;
    margin-left:-4500px;
    position: absolute;
    top:0;
    bottom:0;
    z-index: -1;
  }

  &.band-white {
    color:$gray;
    &:before { background: #fff; }
  }

  &.band-primary {
    color:#fff;
    &:before { background: $brand-primary; }
  }

  &.band-gray {
    color:$gray;
    &:before { background: $brand-gray; }
  }
}


.helpful-links {
  list-style-type: none;
  text-align: center;
  padding:0;

  li {
    display: inline-block;
    margin-right:30px;

    &:last-child {
      margin-right:0;
    }
  }
}

.home-explanation {
  margin-top:70px;
}

// Used on homepage
.social-icon {
  width:50px;

  @include sm-screen {
    &.social-icon-twitter {
      margin-top:75px;
    }
  }
}

.media-social {
  margin-bottom:10px;
}

.social-bucket {
  margin-bottom:60px;

  @include sm-screen {
    margin-bottom:20px;
  }
}