body, html {
  overflow-x: hidden;
}

.hero {
  height:283px;
  position: relative;

  @include sm-screen { height:313px; }

  h1 {
    font-weight:700;
    font-size:55px;

    @include sm-screen {
      font-size:70px;
    }
  }

  h3 {
    font-size:16px;
    font-weight: 300;
    color:$gray-lighter;

    @include sm-screen {
      font-size:18px;
    }
  }

  .bernietar {
    width:300px;
    position: absolute;
    bottom:-55px;
    left:0;
    right:0;
    margin:0 auto;

    @include sm-screen {
      width:350px;
      bottom:-65px;
    }
  }
}

// A full-width band for placing content in. Colors can be chosen with
// .band-color
.band {
  position: relative;
  padding:40px 0;
  width:100%;

  &:before {
    content:'';
    width:9000px;
    margin-left:-4500px;
    position: absolute;
    top:0;
    bottom:0;
    z-index: -1;
  }

  &.band-white {
    color:$gray;
    &:before { background: #fff; }
  }

  &.band-primary {
    color:#fff;
    &:before { background: $brand-primary; }
  }

  &.band-gray {
    color:$gray;
    &:before { background: $brand-gray; }
  }
}


.helpful-links {
  list-style-type: none;
  text-align: center;
  padding:0;
  margin-top:30px;

  li {
    margin-bottom:15px;
  }

  @include sm-screen {
    li {
      display: inline-block;
      margin-right:30px;
      margin-bottom:auto;

      &:last-child {
        margin-right:0;
      }
    }
  }
}

.home-explanation {
  margin-top:70px;
  margin-bottom:50px;
}

// Used on homepage
.social-icon {
  width:50px;

  @include sm-screen {
    &.social-icon-twitter {
      margin-top:75px;
    }
  }
}

.media-social {
  margin-bottom:10px;
}

.social-bucket {
  margin-bottom:60px;

  @include sm-screen {
    margin-bottom:20px;
  }
}

.site-footer {
  background: $brand-primary;
  border-radius: 5px;
  color:#fff;
  padding:30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-top:-70px;

  a {
    color:#fff;

    &:hover {
      text-decoration: none;
      opacity:0.8;
    }
  }
}

.add-email-container {
  margin-top:30px;

  .actions {
    margin-top:40px;
    margin-bottom:20px;
  }
}

.avatar {
  border-radius:10px;
  width:100%;
}

.final-avatar {
  max-width:300px;
  margin:0 auto 20px;
}

.table-container {
  display: table;

  .table-row {
    height: 100%;
    display: table-row;

    .table-col {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.vmiddle {
  vertical-align: middle !important;
}

.avatar-update-example {
  margin-bottom:45px;
  margin-top:30px;
}

.social-status {
  margin-bottom:30px;
  .media-left img {
    width:50px;
  }
}

.well-outline {
  border-width:2px;
  border-style: solid;
  border-radius: 5px;
  padding:20px;
  margin-bottom:20px;

  &.well-outline-primary {
    border-color:$brand-primary;
    background: #fff;
  }
}

.row-margin-bottom {
  margin-bottom:30px;
}

.inactive {
  opacity: 0.3;
}

.btn-wide {
  width:150px;
}

.alert {
  border-radius: 0;
  margin-bottom:0;

  &.alert-alert, &.alert-warning {
    background-color: $brand-warning;
    color:darken($brand-warning, 45%);
  }

  &.alert-notice {
    background: $brand-info;
    color:#fff;
  }
}

.copyright {
  margin-top:25px;
  margin-bottom:50px;
  font-size:14px;
}

.login-options {
  text-align:center;

  .login-option {
    display: inline-block;
    margin-right:50px;

    &:last-child {
      margin-right:0;
    }

    img {
      display: block;
      margin-bottom:15px;
    }
  }
}

.dropdown-heading {
  padding: 3px 20px 3px 15px;
  color:$gray-light;
}
