body, html {
  overflow-x: hidden;
}

.hero {
  height:400px;

  h1 {
    font-weight:700;
    font-size:70px;
  }
}

// A full-width band for placing content in. Colors can be chosen with
// .band-color
.band {
  position: relative;
  padding:20px 0;
  width:100%;

  &:before {
    content:'';
    width:9000px;
    margin-left:-4500px;
    position: absolute;
    top:0;
    bottom:0;
    z-index: -1;
  }

  &.band-white {
    color:$gray;

    &:before {
      background: #fff;

    }
  }
}

